# APP
PORT=
APP_URL=
CLUB_REGISTRATION_PATH=
CLUB_REGISTRATION_EXPIRATION_TIME=
CORS_ORIGIN=

# DB
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# AWS
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=

# AUTH
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRE_TIME=
JWT_REFRESH_EXPIRE_TIME=
